@import "tailwindcss";

:root {
  --background: #f9fafb; /* gray-50 */
  --foreground: #111827; /* gray-900 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-tajawal);
  --font-display: var(--font-cairo);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-tajawal), Arial, Helvetica, sans-serif;
}
